*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(33, 32, 35);
    font-family: 'Audiowide', sans-serif;
}

.font2{
    font-family: "Press Start 2P", system-ui;
}

canvas{
    position: absolute;
    width: 700px;
    height: 500px;
    /* background: #111; */
    border: 10px solid #333;
    cursor: crosshair;
}

#canvas2{
    background: #111;
    filter: blur(0.6px);
    box-shadow: inset 0 0 88px 25px #111;
}